In [3]:
import pandas as pd

In [4]:
df_lab = pd.read_csv("LABEVENTS.csv")

In [5]:
df_lab.head()

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,6244563,10006,NaN,50868,2164-09-24 20:21:00,19,19.0,mEq/L,NaN
1,6244564,10006,NaN,50882,2164-09-24 20:21:00,27,27.0,mEq/L,NaN
2,6244565,10006,NaN,50893,2164-09-24 20:21:00,10.0,10.0,mg/dL,NaN
3,6244566,10006,NaN,50902,2164-09-24 20:21:00,97,97.0,mEq/L,NaN
4,6244567,10006,NaN,50912,2164-09-24 20:21:00,7.0,7.0,mg/dL,abnormal

In [6]:
df_lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76074 entries, 0 to 76073
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      76074 non-null  int64
 1   subject_id  76074 non-null  int64
 2   hadm_id     61812 non-null  float64
 3   itemid      76074 non-null  int64
 4   charttime   76074 non-null  object
 5   value       76069 non-null  object
 6   valuenum    67030 non-null  float64
 7   valueuom    66669 non-null  object
 8   flag        29737 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 5.2+ MB

In [7]:

# Convert charttime to datetime
df_lab['charttime'] = pd.to_datetime(df_lab['charttime'], errors='coerce')

# Delete rows that do not contain value or valuenum.
df_lab = df_lab[~(df_lab['value'].isna() & df_lab['valuenum'].isna())]

# Droping duplicates
df_lab.drop_duplicates(inplace=True)

In [8]:
df_lab.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76069 entries, 0 to 76073
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   row_id      76069 non-null  int64
 1   subject_id  76069 non-null  int64
 2   hadm_id     61808 non-null  float64
 3   itemid      76069 non-null  int64
 4   charttime   76069 non-null  datetime64[ns]
 5   value       76069 non-null  object
 6   valuenum    67030 non-null  float64
 7   valueuom    66668 non-null  object
 8   flag        29736 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 5.8+ MB

In [9]:
df_lab.to_csv("LABEVENTS_cleaned.csv", index=False)